footer {
    background-color: #fff0d2;
    /* Màu xanh dương */
    color: #524117;
    /* Chữ trắng để nổi bật */
}

.text-muted {
    text-align: left;
}

button.btn {
    background-color: #524117;
    color: #e1fa41;
    border: none;
    min-width: 100px;
    padding: 10 10;
}

button.btn:hover {
    background-color: #e1fa41;
    color: #524117;
    /* Màu khi hover */
}

img {
    border-radius: 10px;
}

.fab {
    color: #524117;
}